@import "tailwindcss";

/* Use class-based dark mode instead of system preference */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}
